<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>welcome to the best website on the planet</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <section class="top-header">
            <img src="/media/Just_Dance_logo.png" alt="logo">
            <div class="header-login">
                <li><a href="/login">log ind</a></li>
            </div>
        </section>
        <nav id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" title="åbenmenu" class="closebtn closeNav">&times;</a>
            <ul>
                <% menuresults.forEach(menuresult => { %>
                    <li><a href="/category/<%= menuresult.id %>"> <%= menuresult.name %></a></li>
                    <% }); %>
                </ul>
            </ul>
        </nav>
        <span style="font-size:30px;cursor:pointer" title="luk menu" class="opennav">&#9776;</span>
    
    </header>
            
    <main>
            <section class="maincontent">
                    <% results.forEach(result => { %>
                    <img src="/media/<%= result.image %>"  alt="">
                    <article>
                        <h3>
                            <%= result.title %>
                        </h3>
                        <p>
                            <%= result.description %>
                        </p>
                       
                    </article>
                    <% }); %>
                </section>
    </main>
    <script>
    var mySidenav = document.querySelector('#mySidenav');
        var  openNav = document.querySelector('.opennav').addEventListener('click', openNav);
        var closeNav = document.querySelector('.closeNav').addEventListener('click', closeNav);
        function openNav() {
            document.querySelector("#mySidenav").style.width = "100%";
        }
        function closeNav() {
            document.querySelector("#mySidenav").style.width = "0";
        };
    </script>
</body>

</html>