<% include partials/dashborad_head.ejs %>
<% include partials/dashborad_header.ejs %>

<main id="login">
        <form class="update updatepassword" action="/dashborad/user/<%= results.id %>">
            <input type="hidden" name="idpassword" value="<%= results.id %>">
            <label for="username">username</label>
            <input type="text" disabled value="<%= results.username %>">
            <label for="password">passphrase</label>
            <input type="password" name="passphrase">
            <label for="password">repeatpassphrase</label>
            <input type="password" name="repeatpassphrase" >
            <button type="submit">opdater password</button>
            <p class="errorMessage"></p>
        <p class="message"></p>
        </form>
        <img src="/media/<%= results.photos %>" class="profileImage" alt="" width="100px">
        <div id="uploadbutton">
            <figure>
                Upload
            </figure>
            <input type="file" name="photo" id="uploadfield" class="profileFileSelect" data-imageid="<%=results.id%>" >
        </div>
        <script src="/js/users_form_change_password.js"></script>
    </main>

<% include partials/dashborad_afterfooter.ejs %>