<% include partials/dashborad_head.ejs %>
<% include partials/dashborad_header.ejs %>
<main id="main">
    <h1>updater user</h1>
    <% if( userlevel == 100 || userlevel == 110){ %> 
    <% currents.forEach(current => {%>   
    <form class="update" action="/dashborad/users/<%= current.id %>">   
        <input type="hidden" name="id" value="<%=current.id%>">
        <label for="name">skriv et bruger navn</label>
        <input disabled name="username" value="<%= current.username %>">
        <select name="role" style="display:block">
            <option value="0" disabled hidden selected>vælgusers</option>
            <%  results.forEach( result => { %>
            <option value="<%= result.id %>" <%=(current.roles_id==result.id ? 'selected' : '' ) %>>
                <%=   result.name %>
            </option>
            <% }); %>
        </select>
        <p class="errorMessage">
            <%= (typeof errorMessage != "undefined") ? errorMessage : '' %>
        </p>
        <p class="message"></p>
        <button type="submit">opdater buger</button>
        <% }); %>
    </form>
    <% } %>
    <% if( userlevel == 110){ %> 
            <% currents.forEach(current => {%>
                <form class="updatepassword" action="/dashborad/user/<%= current.id %>">
                        <input type="hidden" name="idpassword" value="<%= current.id %>">
                        <label for="password">passphrase</label>
                        <input type="password" name="passphrase">
                        <label for="password">repeatpassphrase</label>
                        <input type="password" name="repeatpassphrase" >
                        <button type="submit">opdater password</button>
                        <p class="errorMessage"></p>
                    <p class="message"></p>
                    </form>
                    <script src="/js/users_form_change_password.js"></script>
            <% }); %>  
    <% } %>    
</main>
<script src="/js/users_form_updaet.js"></script>

<script>
  /*   const form = document.querySelector('.update');
    form.addEventListener('submit', function (event) {
        event.preventDefault();
        fetch('/dashborad/users/', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: this.id.value,
                    role: this.role.value
                })
            })
            .then(response => {
                if (response.status === 200) {
                    document.querySelector('.errorMessage').innerHTML = "Gemt";
                    document.location.href = "/dashborad/users";
                    return response.json();
                }
                return response.json();
            }).then(data => {
                console.log(data);
                if (data.errorMessage) {
                    for (let i = 0; i < data.errorMessage.length; i++) {
                        document.querySelector('.errorMessage').innerHTML += `${data.errorMessage[i]}`;
                    }
                } 
            })
    }); */
</script>
<% include partials/dashborad_afterfooter.ejs %>